<h1><%#= link_to demoiframework_iframe_path , method: :get, title: "Login", id: "login",target: "iframe_a", name: "login" do %>Login
<%# end %></h1>
 <!--  <iframe width="100%" height="550px" name="iframe_a" id="iframe_a"></iframe>
<script>
  var frame = document.getElementById('iframe_a'); 
  frame.style.display='none';
  $(document).ready(function(){
    $("#login").click(function(){
      frame.style.display=''
    });
  }); 
</script>
 -->