// Place all the styles related to the demoiframeworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button{

  padding-left: 20px;
  padding-right: 20px;
  margin-top: 250px;
}
